@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Welcome to RdxMovies!</h1>
    <p class="lead">Go to the movies section to rent movies!</p>
    <p><a href="/movies/index" class="btn btn-primary btn-lg">Movies</a></p>
</div>