@model Vidly.ViewModels.ListMovieViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul>
    @foreach (var movie in Model.Movies)
    {
        <li> <a href="Movies/@movie.id"> <p>@movie.Name</p> </a> </li>
    }
</ul>

