@model dynamic

@{
    ViewBag.Title = "New Rental Form";
}

<h2>New Rental Form</h2>

<form id="movieForm" action="http://localhost:49333/Orders/NewOrder">
    <div class="form-group">
        <label>Movie</label>
        <div class="tt-container">
            <input id="movie" name="movie" data-rule-atLeastOneMovie="true" type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-sm-4">
            <ul id="movies" class="list-group"></ul>
        </div>
    </div>

    <button class="btn btn-primary">Submit</button>
</form>

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {

            var orderDto = {
                MovieIdsList: []
            };

            //get empty order to load orderDto on it
            /*function createOrder(msg, status, jqXHR) {
            $.ajax({
                url: "/api/order",
                method: "GET",
                })
                    .done(function(orderId) {
                        orderDto.OrderId = orderId;
                        console.log("order" + orderId + "created");
                    })
                    .fail(function() {
                        toastr.error("Something unexpected happened.");
                    });
                return false;
            }

            createOrder();*/

            var movies = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('Name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/API/movies?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });
            $('#movie').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'movies',
                display: 'Name',
                source: movies
            }).on("typeahead:select", function (e, movie) {
                $("#movies").append("<li class='list-group-item'>" + movie.Name + "</li>");
                $("#movie").typeahead("val", "");
                orderDto.MovieIdsList.push(movie.Id);
                localStorage.setItem("orderDto", JSON.stringify(orderDto));
            });

            $.validator.addMethod("atLeastOneMovie", function () {
                return orderDto.MovieIdsList.length > 0;
            }, "Please select at least one movie.");


        //load orderDto to order
        var movieForm = $("#movieForm").validate({});

    });
    </script>
}