
@{
    ViewBag.Title = "NewOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>NewOrder</h2>
<form id="orderForm">

    <label>Card</label>

    <div id="card" class="tt-container">
        <input id="CardId" data-rule-validCard="true" placeholder="CardId" name="card" type="text" value="" class="form-control"/>
        <input id="CardNumber" placeholder="CardNumber" name="card" type="text" value="" class="form-control"/>
        <input id="CardBrand" placeholder="CardBrand" name="card" type="text" value="" class="form-control"/>
        <input id="CardCode" placeholder="CardCode" name="card" type="text" value="" class="form-control"/>
        <input id="CardOwnerFullName" placeholder="CardOwnerFullName" name="card" type="text" value="" class="form-control"/>
        <input id="CardExpirationDate" placeholder="CardExpirationDate" name="card" type="text" value="" class="form-control"/>
    </div>

    <button class="btn btn-primary">Submit</button>
</form>


@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        var orderDto = JSON.parse(localStorage.getItem("orderDto"));
        console.log(orderDto);
        $.validator.addMethod("validCard", async function () {
            var userAction = async () => {
                var response = await fetch('http://localhost:3000/validateCard/2');
                var resJson = await response.json(); //extract JSON from the http response
                return resJson;
            }
            var res = await userAction();
            console.log(res.valid);
            return res.valid;
        }, "Please input a valid card.");

        var orderForm = $("#orderForm").validate({
            submitHandler: function () {
                orderDto.CardId = $("#CardId").val();
                console.log(orderDto);
                $.ajax({
                        url: "/api/order",
                        method: "POST",
                        data: orderDto
                    })
                    .done(function (OrderId) {
                        toastr.success("Rental successfully recorded.");
                    })
                    .fail(function() {
                        toastr.error("Something unexpected happened.");
                    });
                return false;
            }

        });
        

    </script>

}
